/* reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

* {
  margin: 0;
  padding: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

button,
input,
a,
textarea {
  outline: none;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img, svg {
  max-width: 100%;
}

h1, h2, h3 {
  font-weight: bold;
}

/* /reset */
/* roboto-300 - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/roboto-v30-latin_cyrillic-300.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v30-latin_cyrillic-300.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v30-latin_cyrillic-300.woff2") format("woff2"), url("../fonts/roboto-v30-latin_cyrillic-300.woff") format("woff"), url("../fonts/roboto-v30-latin_cyrillic-300.ttf") format("truetype"), url("../fonts/roboto-v30-latin_cyrillic-300.svg#Roboto") format("svg");
  /* Legacy iOS */
}
/* roboto-regular - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v30-latin_cyrillic-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v30-latin_cyrillic-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v30-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/roboto-v30-latin_cyrillic-regular.woff") format("woff"), url("../fonts/roboto-v30-latin_cyrillic-regular.ttf") format("truetype"), url("../fonts/roboto-v30-latin_cyrillic-regular.svg#Roboto") format("svg");
  /* Legacy iOS */
}
/* roboto-500 - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto-v30-latin_cyrillic-500.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v30-latin_cyrillic-500.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v30-latin_cyrillic-500.woff2") format("woff2"), url("../fonts/roboto-v30-latin_cyrillic-500.woff") format("woff"), url("../fonts/roboto-v30-latin_cyrillic-500.ttf") format("truetype"), url("../fonts/roboto-v30-latin_cyrillic-500.svg#Roboto") format("svg");
  /* Legacy iOS */
}
/* roboto-700 - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-v30-latin_cyrillic-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v30-latin_cyrillic-700.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v30-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/roboto-v30-latin_cyrillic-700.woff") format("woff"), url("../fonts/roboto-v30-latin_cyrillic-700.ttf") format("truetype"), url("../fonts/roboto-v30-latin_cyrillic-700.svg#Roboto") format("svg");
  /* Legacy iOS */
}
/* settings */
a {
  -webkit-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
  text-decoration: none;
}

button,
input,
textarea {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  color: #333;
}

body {
  min-width: 319px;
  background-color: #fff;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  color: #333;
}
body.lock {
  overflow: hidden;
}

@media (max-width: 500px) {
  .mobile-hide {
    display: none !important;
  }
}

@media (min-width: 501px) {
  .mobile-visible {
    display: none !important;
  }
}

@media (max-width: 768px) {
  .tablet-hide {
    display: none !important;
  }
}

@media (min-width: 769px) {
  .tablet-visible {
    display: none !important;
  }
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -20px;
}
.row > * {
  word-wrap: break-word;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 20px;
}
.row.gy {
  margin-top: -20px;
}
.row.gy > * {
  padding-top: 20px;
}

.wrapper {
  width: 100%;
  max-width: 1054px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 768px) {
  .wrapper {
    padding-left: 10px;
  }
}
@media screen and (max-width: 768px) {
  .wrapper {
    padding-right: 10px;
  }
}

*:-webkit-autofill {
  -webkit-box-shadow: inset 0 0 0 50px #fff !important;
}

*::-webkit-input-placeholder {
  color: #a9a9a9;
  opacity: 1;
}

*::-moz-placeholder {
  color: #a9a9a9;
  opacity: 1;
}

*:-ms-input-placeholder {
  color: #a9a9a9;
  opacity: 1;
}

*::-ms-input-placeholder {
  color: #a9a9a9;
  opacity: 1;
}

*::placeholder {
  color: #a9a9a9;
  opacity: 1;
}

.page {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.content {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

/* /settings */
/* btn */
.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid transparent;
  outline: none;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.btn--white {
  background-color: transparent;
  border-color: #fff;
  color: #fff;
}
.btn--white:hover {
  border-color: #81B3F1;
  color: #81B3F1;
}
.btn--green {
  background-color: #4fc4aa;
  color: #fff;
}
.btn--green:hover {
  background-color: #4bb79f;
}
@media (max-width: 500px) {
  .btn {
    padding: 20px 20px;
  }
}

/* /btn */
/* title */
.title {
  font-size: 36px;
  font-weight: normal;
  color: #333;
  line-height: 42px;
}
@media (max-width: 768px) {
  .title {
    font-size: 26px;
    line-height: 30px;
  }
}

/* /title */
/* header */
.header {
  padding: 40px 0;
  background-color: #435f89;
}
.header .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 18px;
  font-weight: 300;
  color: #fff;
}
.header__logo img {
  max-width: 170px;
  margin-right: 20px;
}
.header__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.header__quest {
  margin-right: 30px;
  color: #fff;
  font-weight: 300;
}
.header__quest:hover {
  color: #81B3F1;
}
.header__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.header__buttons .btn {
  min-width: 140px;
}
.header__buttons .btn:nth-child(1) {
  margin-right: 10px;
}
@media (max-width: 950px) {
  .header__quest {
    display: none;
  }
}
@media (max-width: 768px) {
  .header__logo span {
    display: none;
  }
}
@media (max-width: 500px) {
  .header__logo {
    margin-right: 10px;
  }
  .header__logo img {
    margin-right: 0;
  }
  .header__buttons .btn {
    min-width: 120px;
    padding: 10px 20px;
  }
}

/* /header */
/* welcome */
.welcome {
  padding: 80px 0 100px;
  background-color: #435f89;
  color: #fff;
  margin-bottom: 80px;
}
.welcome .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.welcome__content {
  max-width: 500px;
  margin-right: 20px;
}
.welcome__title {
  font-size: 48px;
  font-weight: 500;
  color: #333;
  line-height: 58px;
  color: #fff;
  margin-bottom: 25px;
}
.welcome__text {
  font-size: 18px;
  line-height: 32px;
  font-weight: 300;
  margin-bottom: 25px;
}
.welcome__img {
  max-width: 480px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
@media (max-width: 950px) {
  .welcome__title {
    font-size: 35px;
    line-height: 45px;
  }
  .welcome__img {
    max-width: 400px;
  }
}
@media (max-width: 768px) {
  .welcome .wrapper {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .welcome__content {
    width: 100%;
    max-width: none;
    margin-bottom: 20px;
    margin-right: 0;
  }
  .welcome__img {
    width: 100%;
    max-width: none;
    text-align: center;
  }
}
@media (max-width: 500px) {
  .welcome {
    padding: 30px 0 50px;
  }
  .welcome__title {
    font-size: 28px;
    line-height: 38px;
    margin-bottom: 20px;
  }
  .welcome__text {
    font-size: 16px;
    line-height: 26px;
  }
  .welcome__btn .btn {
    width: 100%;
  }
  .welcome__img img {
    width: 100%;
  }
}

/* /welcome */
/* app */
.app {
  margin-bottom: 80px;
}
.app__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: hidden;
  border-radius: 10px;
  background-color: #fafafa;
  position: relative;
}
.app__circle1 {
  width: 50%;
  background-color: #435f89;
  border-radius: 100%;
  position: absolute;
  top: -170px;
  left: -40px;
}
.app__circle1:after {
  content: "";
  display: block;
  padding-top: 100%;
}
.app__circle2 {
  width: 30%;
  background-color: #ffd90f;
  border-radius: 100%;
  position: absolute;
  right: 20px;
  bottom: -160px;
}
.app__circle2:after {
  content: "";
  display: block;
  padding-top: 100%;
}
.app__img {
  width: 50%;
  padding-top: 50px;
  z-index: 2;
}
.app__img img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 270px;
}
.app__content {
  width: 50%;
  z-index: 2;
}
.app__sub {
  font-size: 24px;
  line-height: 34px;
  font-weight: 300;
  margin-bottom: 10px;
}
.app__buttons {
  margin-top: 20px;
}
.app__btn-col {
  width: 33.3333333333%;
}
@media screen and (max-width: 768px) {
  .app__btn-col {
    width: 100%;
  }
}
.app__btn {
  border-radius: 5px;
  overflow: hidden;
}
.app__btn img {
  display: block;
  width: 100%;
}
@media (max-width: 950px) {
  .app__container {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-top: 50px;
  }
  .app__img {
    width: 100%;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
  .app__content {
    width: 100%;
    text-align: center;
  }
  .app__buttons {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
  }
  .app__circle1 {
    width: 600px;
    top: auto;
    left: -250px;
    bottom: -200px;
  }
  .app__circle2 {
    width: 300px;
    right: -150px;
  }
}
@media (max-width: 768px) {
  .app__circle1 {
    width: 70%;
    bottom: 30px;
    left: -40%;
  }
  .app__circle2 {
    width: 50%;
    right: -30%;
    bottom: 40px;
  }
  .app__buttons {
    max-width: 140px;
    margin-top: 30px;
  }
  .app__sub {
    font-size: 18px;
    line-height: 24px;
  }
  .app__img {
    padding-top: 40px;
  }
  .app__img img {
    -webkit-transform: translate(10px, 0);
    -ms-transform: translate(10px, 0);
    transform: translate(10px, 0);
  }
}
@media (max-width: 500px) {
  .app__circle1 {
    bottom: 200px;
  }
  .app__circle2 {
    bottom: 170px;
  }
}

/* /app */
/* manual */
.manual {
  margin-bottom: 80px;
}
.manual__container {
  overflow: hidden;
  border-radius: 10px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 940 390'%3E%3Cmask id='prefix__a' width='940' height='390' x='0' y='0' maskUnits='userSpaceOnUse'%3E%3Cpath fill='%23fff' d='M940 0H0v390h940V0z'/%3E%3C/mask%3E%3Cg mask='url(%23prefix__a)'%3E%3Cpath fill='%23517EAD' d='M940 0H0v390h940V0z'/%3E%3Cpath fill='%23466A98' d='M689 505c171.208 0 310-138.792 310-310S860.208-115 689-115 379 23.792 379 195s138.792 310 310 310zM179.5 87c37.832 0 68.5-30.669 68.5-68.5S217.332-50 179.5-50 111-19.331 111 18.5 141.668 87 179.5 87z'/%3E%3C/g%3E%3C/svg%3E");
  background-size: cover;
  position: relative;
}
.manual__container .swiper-slide {
  height: auto;
}
.manual__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  padding: 30px 50px;
}
.manual__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 50%;
}
.manual__img img {
  width: 350px;
  margin-right: 20px;
  border-radius: 10px;
}
.manual__content {
  width: 50%;
  padding: 50px 0;
  color: #fff;
}
.manual__content .title {
  color: #fff;
  margin-bottom: 10px;
}
.manual__text {
  font-size: 18px;
  line-height: 23px;
  font-weight: 300;
}
.manual__pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 50% !important;
  left: auto !important;
  right: 0;
  bottom: 80px !important;
}
.manual__pagination .swiper-pagination-bullet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 25px;
  height: 25px;
  margin-left: 0 !important;
  margin-right: 15px !important;
  background-color: #fff;
  color: #435f89;
  font-size: 14px;
  font-weight: 500;
  opacity: 0.5;
}
.manual__pagination .swiper-pagination-bullet-active {
  opacity: 1;
}
@media (max-width: 1024px) {
  .manual__container {
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
  }
  .manual__item {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .manual__img {
    width: 100%;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
  .manual__img img {
    margin-left: auto;
    margin-right: auto;
  }
  .manual__content {
    width: 100%;
    padding: 0;
    margin-bottom: 10px;
    text-align: center;
  }
  .manual #manualSlider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .manual #manualSlider .swiper-wrapper {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
  .manual__pagination {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100% !important;
    position: static;
  }
  .manual__pagination .swiper-pagination-bullet {
    width: 30px;
    height: 30px;
  }
}
@media (max-width: 500px) {
  .manual__item {
    padding: 30px 20px;
  }
}

/* /manual */
/* footer */
/* /footer */