// footer
footer.footer
  .footer__top 
    .wrapper
      .row.gy
        .footer__col 
          .footer__title Компания
          ul.footer__list 
            li 
              a(href="#") О нас
            li 
              a(href="#") Наши партнеры
            li 
              a(href="#") FAQ
            li 
              a(href="#") Как мы работаем
            li 
              a(href="#") Оставить заявку
        .footer__col 
          .footer__title Подписка
          ul.footer__list 
            li 
              a(href="#") 
                svg(class="icon-fb")
                  use(xlink:href="img/sprite.svg#fb")
                span Facebook
            li 
              a(href="#") 
                svg(class="icon-tw")
                  use(xlink:href="img/sprite.svg#tw")
                span Twitter
            li 
              a(href="#") 
                svg(class="icon-in")
                  use(xlink:href="img/sprite.svg#in")
                span LinkedIn
            li 
              a(href="#") 
                svg(class="icon-wp")
                  use(xlink:href="img/sprite.svg#wp")
                span Whatsapp
            li 
              a(href="#") 
                svg(class="icon-tg")
                  use(xlink:href="img/sprite.svg#tg")
                span Telegram
  .footer__bottom 
    .wrapper
      a(href="#").footer__logo
        img(src="img/logo.png", alt="")
      .footer__text 
        p Transfergo LTD является зарегистрированным поставщиком платежных услуг. Наша деятельность находится под контролем Налогово-таможенной службы (HMRC) в соответствии с Положением об отмывании денег №12667079 и регулируется Управлением по финансовому регулированию и надзору Великобритании (FCA) как уполномоченная платежная организация №600886.
        p 241 Southwark Bridge Rd, SE1 6FP, London, United Kingdom
  .footer__copyright 
    .wrapper © 2022 TransferGo Ltd. Все права защищены.
//	/footer