// header
header.header
  .wrapper 
    a(href="#").header__logo 
      img(src="img/logo.png", alt="")
      span P R I V A T <br> A F F I L I A T E S
    .header__user 
      a(href="#").header__quest Как это работает?
      a(href="#").header__partners Партнеры
      a(href="tel:+79451331671").btn.btn--white +7(945)1331671
//	/header