extends core/base.pug

block title 
  title Навигаця по страницам

block content

  .page 

    include core/header.pug

    .content 

      // welcome
      .welcome
        .wrapper 
          .welcome__content 
            .welcome__title Платежи за рубеж для организаций и физлиц
            .welcome__text TransferGo предлагает помощь в производстве платежей из России за рубеж в короткие сроки!
            .welcome__btn 
              .btn.btn--green Отправить перевод
          .welcome__img 
            img(src="img/welcome.png", alt="")
      // /welcome

    include core/footer.pug
