extends core/base.pug

block title 
  title Навигаця по страницам

block content

  .page 

    include core/header.pug

    .content 

      // welcome
      section.welcome
        .wrapper 
          .welcome__content 
            h1.welcome__title Платежи за рубеж для организаций и физлиц
            p.welcome__text TransferGo предлагает помощь в производстве платежей из России за рубеж в короткие сроки!
            .welcome__btn 
              button.btn.btn--green Отправить перевод
          .welcome__img 
            img(src="img/welcome.png", alt="")
      // /welcome

      // examples
      section.examples
        .wrapper 
          .examples__head 
            h2.title Когда нужен перевод
            .examples__sub Ряд примеров, на что может потребоваться оплата или перевод за рубеж
          .examples__items 
            .row 
              .examples__col 
                .examples__icon 
                  svg(class="icon-home")
                    use(xlink:href="img/sprite.svg#home")
                h3.examples__title Покупки
                p.examples__text Оплатить счёт на покупку товаров/услуг, выставленный зарубежной организацией
              .examples__col 
                .examples__icon 
                  svg(class="icon-cart")
                    use(xlink:href="img/sprite.svg#cart")
                h3.examples__title Учёба и лечение
                p.examples__text Оплатить обучение, лечение, отдых за границей
              .examples__col 
                .examples__icon 
                  svg(class="icon-hat")
                    use(xlink:href="img/sprite.svg#hat")
                h3.examples__title Бронирование и проживание
                p.examples__text Оплатить бронь/покупку жилья за рубежом
              .examples__col 
                .examples__icon 
                  svg(class="icon-plus")
                    use(xlink:href="img/sprite.svg#plus")
                h3.examples__title Иные платежи
                p.examples__text Произвести любые иные платежи для зарубежных организаций и физических лиц
      // /examples

      // reliability
      section.reliability
        .wrapper 
          .reliability__row 
            .reliability__col 
              .reliability__content 
                .reliability__sub Privat Money - надёжность
                h2.title Почему с нами <br>надёжно и безопасно
                .reliability__text 
                  p Более 13 лет мы работаем в сфере зарубежного образования и с каждым клиентом проходим успешный путь оплаты обучения, проживания и дополнительных услуг за рубеж.
                  p За это время мы произвели более 10 тысяч оплат в разные страны мира с различными назначениями платежей.
            .reliability__col.tablet-hide
              .reliability__img 
                img(src="img/reliability.png", alt="")
      // /reliability

      // steps
      .steps
        .wrapper 
          .title Как мы работаем
          .steps__items 
            .row 
              .steps__col 
                .steps__item 
                  .steps__num 1
                  .steps__title Book a transfer
                  .steps__text Provide the recipient’s details and the amount you want to send.
              .steps__col 
                .steps__item 
                  .steps__num 2
                  .steps__title Make a local payment
                  .steps__text Make a local bank transfer or use a debit card (for payments up to £1000)
              .steps__col 
                .steps__item 
                  .steps__num 3
                  .steps__title We do the rest
                  .steps__text Once we have received your payment the money will arrive at the other end within hours.
          .steps__btn 
            .btn.btn--green Связаться с нами
      // /steps

      // app
      section.app
        .wrapper 
          .app__container 
            .app__circle1 
            .app__circle2
            .app__img 
              img(src="img/app-ru.webp", alt="")
            .app__content 
              .app__sub Делайте переводы где угодно
              h2.title – скачайте приложение TransferGo
              .app__buttons 
                .row.gy
                  .app__btn-col 
                    a(href="#").app__btn 
                      img(src="img/app-store-ru.svg", alt="")
                  .app__btn-col 
                    a(href="#").app__btn 
                      img(src="img/google-play-ru.svg", alt="")
                  .app__btn-col 
                    a(href="#").app__btn 
                      img(src="img/huawei-ru.svg", alt="")
      // /app

      // manual
      section.manual
        .wrapper
          .manual__container 
            #manualSlider 
              .swiper-wrapper 
                .swiper-slide 
                  .manual__item 
                    .manual__img 
                      img(src="img/delivery-options.webp", alt="")
                    .manual__content
                      h2.title Выберите сумму и вариант доставки.
                      p.manual__text Вы можете платить дебетовой или кредитной картой, банковским переводом, а также Apple Pay.
                .swiper-slide 
                  .manual__item 
                    .manual__img 
                      img(src="img/recipient-details.webp", alt="")
                    .manual__content
                      h2.title Введите данные получателя.
                      p.manual__text Все, что вам нужно, это имя и номер карты или счета. Все остальное сделаем мы.
                .swiper-slide 
                  .manual__item 
                    .manual__img 
                      img(src="img/payment-options.webp", alt="")
                    .manual__content
                      h2.title Выберите способ оплаты, и сделайте перевод!
                      p.manual__text Мы сообщим вам о статусе перевода. Отслеживайте также статус перевода в своем личном кабинете через приложение или на вебсайте.
              .manual__pagination.swiper-pagination
      // /manual

    include core/footer.pug
