/* btn */
.btn { 
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid transparent;
  outline: none;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  user-select: none;
  transition: 0.3s;
  &--white {
    border-color: #fff;
    color: #fff;
    &:hover {
      border-color: #81B3F1;
      color: #81B3F1;
    }
  }
  &--green {
    background-color: $green;
    color: #fff;
    &:hover {
      background-color: #4bb79f;
    }
  }
  @media (max-width: $break_xs) {
    padding: 20px 20px;
  }
}
/* /btn */